$GREEN: #42b883;
$GRAY: #e5e4e3;
$WHITE: #ffffff;

@mixin circle {
  z-index: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.box {
  z-index: -1;
  width: 26rem;
  height: 11rem;
  background: #fafafa;
}

.contain {
  display: flex;
  flex-direction: column;
  width: 24rem;
  margin-right: auto;
  margin-left: auto;
}

.board {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3.7rem;
  margin-top: 1rem;
  border: 1px solid #9ba6a5;
  border-radius: 5px;
}

.value {
  position: absolute;
  right: 65px;
  font-weight: bolder;
}

.percentage {
  position: absolute;
  right: 25px;
}

.slide {
  position: relative;
  display: flex;
  width: 23.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
}

.range {
  z-index: 7;
  width: 23.5rem;
  height: 6px;
  background: transparent;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    position: relative;
    z-index: 5;
    width: 22px;
    height: 22px;
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.rangeBar {
  position: absolute;
  top: 50%;
  z-index: 0;
  width: 23rem;
  height: 6px;
  background: $GRAY;
  transform: translateY(-50%);
}

.circleLine {
  position: absolute;
  bottom: 50%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 23.5rem;
  transform: translateY(50%);
}

.circlePass {
  @include circle;
  background: $GREEN;
}

.circleUnpass {
  @include circle;
  background: $GRAY;
}

.selector {
  position: absolute;
  top: 0;
  z-index: 4;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.moveBtn {
  position: absolute;
  top: 25%;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: $GREEN;
  border: 4px solid $WHITE;
  border-radius: 50%;
  transform: translateY(-50%);
}

.bar {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 4;
  height: 6px;
  background: $GREEN;
  border-radius: 3px;
  transform: translateY(-50%);
}

.percentBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  margin-top: 10px;
}

.percentBtn {
  width: 45px;
  height: 20px;
  font-size: 13px;
  cursor: pointer;
  background: $GRAY;
  border: 1px solid $GRAY;
  border-radius: 10rem;
  transition: all 0.3s;

  &:hover {
    background: $GREEN;
  }
}
